.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  text-align: center;
  align-items: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

.btn {
  border: none;
  color: black;
  background-color: #ebbc10;
  padding: 12px 24px;
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 60px;
  box-shadow: 5px 0 #232931;
  transition: all 0.15s ease;
}

.btn:hover {
  color: #EEEEEE;
  cursor: pointer;
  transform: translateY(2px) translateX(2px);
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}